*{

       margin: 0;
       padding: 0;
       box-sizing: 0;
}

button{

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
        margin-left: 500px;
        height: 50px;
        width: 230px;
        background-color:white;
        color:rgba(0, 128, 0, 0.733);
        border: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;

}

